<td class="table-division">
  <div><img src="{{this.picture}}" alt="img" class="table-image" /></div>
</td>
<td class="table-division">
  <div>{{this.name}}</div>
</td>
<td class="table-division">
  <div>{{this.ref}}</div>
</td>
<td class="table-division">
  <div>${{this.price}}</div>
</td>
<td class="table-division">
  <a href="/edit/{{this._id}}"><span data-id-sneaker="{{this._id}}" class="fa fa-edit table-icon"></span></a>
</td>
<td class="table-division">
  <a href="/delete/{{this._id}}"><span class="fa fa-trash table-icon" data-id-sneaker="{{this._id}}"
      aria-hidden="false"></span></a>
</td>